[Unit]
Description=Iron Carrier Daemon
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=idle

ExecStart=/usr/bin/iron-carrier -v
Restart=on-failure
TimeoutStopSec=300

[Install]
WantedBy=default.target
